.student{
    max-width: 100%;
    overflow-x: hidden;

}



 

.student .row{
    width: 100%;
    margin: 0;
}
.row .side_bar{
    padding: 0;
}
.row .soumission{
    margin-top: 5em;
    padding: 5em 2em;
    margin: 0;
    border-radius: 0;
    

}

.react-datepicker__input-container {
    width: inherit;
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }

